<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true" scanPeriod="30 seconds">
	<springProfile name="jsonlogging">
		<appender name="STDOUT"
			class="ch.qos.logback.core.ConsoleAppender">
			<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
		</appender>
		<root level="info">
			<appender-ref ref="STDOUT" />
		</root>
	</springProfile>
	<springProfile name="default">
		<include
			resource="org/springframework/boot/logging/logback/base.xml" />
	</springProfile>
</configuration>